<?xml version="1.0"?>
<robot name="triorb">

  <link name="base">

    <!-- Inertial properties -->
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.1"/>
      <inertia
        ixx="1.0" ixy="0.0" ixz="0.0"
        iyy="1.0" iyz="0.0"
        izz="1.0"/>
    </inertial>

    <!-- Visual geometry -->
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.48 0.51 0.60"/>
      </geometry>
      <material name="CardBoard">
        <color rgba="0.2667536437511444 0.17454615235328674 0.06440283358097076 1.0"/>
      </material>
    </visual>

    <!-- Collision geometry -->
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.48 0.51 0.60"/>
      </geometry>
    </collision>

  </link>

  <!-- Mount link -->
  <link name="mount">

  <!-- Fixed transform from base to mount -->
  <joint name="base_to_mount" type="fixed">
    <parent link="base"/>
    <child link="mount"/>
    <origin xyz="0 0 0.30" rpy="0 0 0"/>
  </joint>

</robot>